div.links(id="linkBtn")
    if user
        <a id="homebtn" href="/"><button type="button">Chat</button></a>
        <a href="/profile"><button type="button">Profile</button></a>
        <a href="/logout"><button type="button">LogOut</button></a>
    else
        <a href="/login"><button type="button">Login</button></a>
