extends layout

block content
  div.container.full-width
    if user
      h1= "Welcome: " 
      h2= user.displayName
    else
      h2= "Rockstars chat"
    
      //se agrega para chat  
    div#messages
      ul#message-list.messages-list
      div.messages-bottom
        div#writing-message.hidden Someone is writing...
        input#message(placeholder="Write your message...")
        <button class="message-send" id="message-send" type="button">Send</button>
        <br>
        <br>

